.header{
	padding: 10px 10px;
	background: repeating-linear-gradient(
  		-55deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
	text-align: center;
	color:orange;
		}
.header {
	position: fixed;
	top:0px;
	width: 100%;
	
		}
/*navigation*/
.page-navigator{
	background-color: #222;
	background: repeating-linear-gradient(
  		55deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
	min-height: 80px;
	padding:10px
}
.page-navigator{	
	top:98px;
	position: fixed;
	width: 100%;
}
.page-navigator ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background: repeating-linear-gradient(
  		0deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
}
.page-navigator li{
	float: left;
	width:140px;
	
}
.page-navigator li a{
	display: block;
	color: grey;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-bottom-color: black;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
	
}
.page-navigator li a:hover {
	color: orange;
	background: black;
}

/*login form*/
.login input[type="text"],
.login input[type="password"]
{
	padding: 10px;
	float: left;
}
.login input[type="search"]
{
	padding: 10px;
	float: right;
}
.login input[type="text"],
.login input[type="password"],
.login input[type="search"]
{
	padding: 5px;
	margin-right: 15px;
	border: 2px solid transparent;
	border-radius: 5px;
	outline: none;
	border-color: black;
}

.login input[type="submit"], .login input[type="reset"]{
	clear: both;
	border-color: black;
	border-radius: 30px;
	margin-right: 30px;
	margin-left: 10px;
}
.login input[type="submit"]:hover, .login input[type="reset"]:hover,
button:hover
{
	background: orange;
	color:black;
}	
/*main form*/
body {
	position: relative;
	top:200px;
	}

.section h2{
	text-align: center;
	}
.item img{
	float: right;
}
/*footer form*/
.footer{
	clear: both;
	background: repeating-linear-gradient(
  		-55deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
	color: white;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
}
main {padding:  10px;}
.item img{border-radius: 10px;}


	.login button{margin-left: 10px;}
a {
  color: #fff;
  text-decoration: none;
}

ul { list-style: none; }


.toggle-nav { display: none; }

.nav-mobile style { display: block; }

@media only screen and (min-device-width: 769px) and (max-width: 3000px){
.w3-left:hover, .w3-right:focus {
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}

.w3-right {
    right: 15px;
    left: auto;
}

.w3-left,.w3-right {
    top: 33%;
}

.w3-left {
    /*position: absolute;*/
    top: 40%;
    left: 15px;
    width: 70px;
    height: 50px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 43px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
    /*position: absolute;*/
    top: 40%;
    left: 15px;
    width: 70px;
    height: 50px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 43px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
}


@media only screen and (min-width: 537px) and (max-width: 768px) {
.header h1 {font-size: 26px;}
.header {height: 90px;}
.nav { background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	); 
  margin-left: -10px;
}

.toggle-nav {
  display: block;
  padding: 10px;
  position: absolute;
  right: 10px;
  line-height: 30px;
  margin-right: 10px;
}

.toggle-nav:after { content: 'Menu'; }

.nav-mobile { display: none; }

.style-mobile {
  background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
  top : 50px;
  position : absolute;
  width : 100%;
  
}

.style-mobile li {
  display: block;
  width: 100px;
  padding:0;
  margin:0;
}

.nav .right {
  display: block;
  float: none;
  padding: 20px;
  
}

.nav .left {
  display: block;
  float: none;
  padding: 20px;
  
}

.w3-left:hover, .w3-right:focus {
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}

.w3-right {
    right: 15px;
    left: auto;
}

.w3-left,.w3-right {
    top: 33%;
}

.w3-left {
    /*position: absolute;*/
    top: 40%;
    left: 15px;
    width: 70px;
    height: 50px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 43px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
    /*position: absolute;*/
    top: 40%;
    left: 15px;
    width: 70px;
    height: 50px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 43px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}

}

@media only screen and (max-width: 536px) and (min-width:501px) {
.header h1 {font-size: 23px;}
.modalDialog > div {
	width: 200px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align: left;
}
.login1 input[type="text"],
.login1 input[type="password"]
{
	padding: 5px;
	margin-right: 5px;
	float: right;
	}
	.login1 input[type="submit"]
{margin-top: 5px;}
.page-navigator{	
	top:78px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.w3-content img {
    padding-top: 60px;
}
.article button {
	position: relative;
	left: 40%;
	padding:10px;
	border: 1px solid;
	border-radius: 10px;
	outline: none;
	overflow: hidden;
}


.nav { background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	); 
  margin-left: -10px;
}

.toggle-nav {
  display: block;
  padding: 10px;
  position: absolute;
  right: 10px;
  line-height: 30px;
  margin-right: 10px;
}

.toggle-nav:after { content: 'Menu'; }

.nav-mobile { display: none; }

.style-mobile {
  background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
  top : 50px;
  position : absolute;
  width : 100%;
}

.style-mobile li {
  display: block;
  width: 100%;
}

.nav .right {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.nav .left {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.w3-left {
    top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
      top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
}


@media only screen and (max-width: 500px) and (min-width:400px) {
	#in {
		position: fixed;
		top: 400px;
		left: 5px;
	}
	#exit {
		position: fixed;
		top: 400px;
		left: 65px;
	}
	#regis {
		position: fixed;
		top: 400px;
		left: 136px;
	}
.header h1 {font-size: 23px;}
.modalDialog > div {
	width: 200px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align: left;
}
.login1 input[type="text"],
.login1 input[type="password"]
{
	padding: 5px;
	margin-right: 5px;
	float: right;
	}
	.login1 input[type="submit"]
{margin-top: 5px;}
.page-navigator{	
	top:80px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.w3-content img {
    padding-top: 30px;
}
.article button {
	position: relative;
	left: 40%;
	padding:10px;
	border: 1px solid;
	border-radius: 10px;
	outline: none;
	overflow: hidden;
}


.nav { background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	); 
  margin-left: -10px;
}

.toggle-nav {
  display: block;
  padding: 10px;
  position: absolute;
  right: 10px;
  line-height: 30px;
  margin-right: 10px;
}

.toggle-nav:after { content: 'Menu'; }

.nav-mobile { display: none; }

.style-mobile {
  background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
  top : 50px;
  position : absolute;
  width : 100%;
}

.style-mobile li {
  display: block;
  width: 100%;
}

.nav .right {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.nav .left {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.w3-left {
    top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
      top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
}

@media only screen and (max-width: 399px) {
	#in {
		position: fixed;
		top: 400px;
		left: 5px;
	}
	#exit {
		position: fixed;
		top: 400px;
		left: 65px;
	}
	#regis {
		position: fixed;
		top: 400px;
		left: 136px;
	}
.header h1 {font-size: 18px;}
.modalDialog > div {
	width: 200px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align: left;
}
.login1 input[type="text"],
.login1 input[type="password"]
{
	padding: 5px;
	margin-right: 5px;
	float: right;
	}
	.login1 input[type="submit"]
{margin-top: 5px;}
.page-navigator{	
	top:60px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.w3-content img {
    padding-top: 20px;
}
.header-of-article h3 {font-size:24px;}
.article button {
	position: relative;
	left: 40%;
	padding:5px;
	border: 1px solid;
	border-radius: 10px;
	outline: none;
	overflow: hidden;
}

.nav { background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
	 margin-left: -10px;}

.toggle-nav {
  display: block;
  padding: 10px;
  position: absolute;
  right: 10px;
  line-height: 30px;
  margin-right: 10px;
}

.toggle-nav:after { content: 'Menu'; }

.nav-mobile { display: none; }

.style-mobile {
  background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
  top : 50px;
  position : absolute;
  width : 100%;
}

.style-mobile li {
  display: block;
  width: 100%;
}

.nav .right {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.nav .left {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.w3-left {
    top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
      top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
}




