.login button{margin-left: 10px;}
a {
  color: #fff;
  text-decoration: none;
}

ul { list-style: none; }


.toggle-nav { display: none; }

.nav-mobile style { display: block; }

@media only screen and (min-device-width: 769px) and (max-width: 3000px){
.w3-left:hover, .w3-right:focus {
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}

.w3-right {
    right: 15px;
    left: auto;
}

.w3-left,.w3-right {
    top: 33%;
}

.w3-left {
    /*position: absolute;*/
    top: 40%;
    left: 15px;
    width: 70px;
    height: 50px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 43px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
    /*position: absolute;*/
    top: 40%;
    left: 15px;
    width: 70px;
    height: 50px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 43px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
}


@media only screen and (min-width: 537px) and (max-width: 768px) {
.header h1 {font-size: 25px;}
.header {height: 71px;}
.nav { background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	); 
  margin-left: -10px;
}

.toggle-nav {
  display: block;
  padding: 10px;
  position: absolute;
  right: 10px;
  line-height: 30px;
  margin-right: 10px;
}

.toggle-nav:after { content: 'Menu'; }

.nav-mobile { display: none; }

.style-mobile {
  background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
  top : 50px;
  position : absolute;
  width : 100%;
  
}

.style-mobile li {
  display: block;
  width: 100px;
  padding:0;
  margin:0;
}

.nav .right {
  display: block;
  float: none;
  padding: 20px;
  
}

.nav .left {
  display: block;
  float: none;
  padding: 20px;
  
}

.w3-left:hover, .w3-right:focus {
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}

.w3-right {
    right: 15px;
    left: auto;
}

.w3-left,.w3-right {
    top: 33%;
}

.w3-left {
    /*position: absolute;*/
    top: 40%;
    left: 15px;
    width: 70px;
    height: 50px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 43px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
    /*position: absolute;*/
    top: 40%;
    left: 15px;
    width: 70px;
    height: 50px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 43px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}

}

@media only screen and (max-width: 536px) and (min-width:501px) {
.header h1 {font-size: 21px;}
.modalDialog > div {
	width: 200px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align: left;
}
.login1 input[type="text"],
.login1 input[type="password"]
{
	padding: 5px;
	margin-right: 5px;
	float: right;
	}
	.login1 input[type="submit"]
{margin-top: 5px;}
.page-navigator{	
	top:52px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.w3-content img {
    padding-top: 60px;
}
.article button {
	position: relative;
	left: 40%;
	padding:10px;
	border: 1px solid;
	border-radius: 10px;
	outline: none;
	overflow: hidden;
}


.nav { background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	); 
  margin-left: -10px;
}

.toggle-nav {
  display: block;
  padding: 10px;
  position: absolute;
  right: 10px;
  line-height: 30px;
  margin-right: 10px;
}

.toggle-nav:after { content: 'Menu'; }

.nav-mobile { display: none; }

.style-mobile {
  background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
  top : 50px;
  position : absolute;
  width : 100%;
}

.style-mobile li {
  display: block;
  width: 100%;
}

.nav .right {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.nav .left {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.w3-left {
    top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
      top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
}


@media only screen and (max-width: 500px) and (min-width:400px) {
	#in {
		position: fixed;
		top: 400px;
		left: 5px;
	}
	#exit {
		position: fixed;
		top: 400px;
		left: 65px;
	}
	#regis {
		position: fixed;
		top: 400px;
		left: 136px;
	}
.header h1 {font-size: 23px;}
.modalDialog > div {
	width: 200px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align: left;
}
.login1 input[type="text"],
.login1 input[type="password"]
{
	padding: 5px;
	margin-right: 5px;
	float: right;
	}
	.login1 input[type="submit"]
{margin-top: 5px;}
.page-navigator{	
	top:62px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.w3-content img {
    padding-top: 30px;
}
.article button {
	position: relative;
	left: 40%;
	padding:10px;
	border: 1px solid;
	border-radius: 10px;
	outline: none;
	overflow: hidden;
}


.nav { background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	); 
  margin-left: -10px;
}

.toggle-nav {
  display: block;
  padding: 10px;
  position: absolute;
  right: 10px;
  line-height: 30px;
  margin-right: 10px;
}

.toggle-nav:after { content: 'Menu'; }

.nav-mobile { display: none; }

.style-mobile {
  background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
  top : 50px;
  position : absolute;
  width : 100%;
}

.style-mobile li {
  display: block;
  width: 100%;
}

.nav .right {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.nav .left {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.w3-left {
    top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
      top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
}

@media only screen and (max-width: 399px) {
	#in {
		position: fixed;
		top: 400px;
		left: 5px;
	}
	#exit {
		position: fixed;
		top: 400px;
		left: 65px;
	}
	#regis {
		position: fixed;
		top: 400px;
		left: 136px;
	}
.header h1 {font-size: 18px;}
.modalDialog > div {
	width: 200px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align: left;
}
.login1 input[type="text"],
.login1 input[type="password"]
{
	padding: 5px;
	margin-right: 5px;
	float: right;
	}
	.login1 input[type="submit"]
{margin-top: 5px;}
.page-navigator{	
	top:50px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.w3-content img {
    padding-top: 20px;
}
.header-of-article h3 {font-size:24px;}
.article button {
	position: relative;
	left: 40%;
	padding:5px;
	border: 1px solid;
	border-radius: 10px;
	outline: none;
	overflow: hidden;
}

.nav { background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
	 margin-left: -10px;}

.toggle-nav {
  display: block;
  padding: 10px;
  position: absolute;
  right: 10px;
  line-height: 30px;
  margin-right: 10px;
}

.toggle-nav:after { content: 'Menu'; }

.nav-mobile { display: none; }

.style-mobile {
  background: repeating-linear-gradient(
  		125deg,
  		#222,
  		#222 10px,
 		#333 10px,
  		#333 20px
	);
  top : 50px;
  position : absolute;
  width : 100%;
}

.style-mobile li {
  display: block;
  width: 100%;
}

.nav .right {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.nav .left {
  display: block;
  float: none;
  margin: 0em;
  width: 100%;
}

.w3-left {
    top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.w3-right{
      top: 40%;
    left: 15px;
    width: 50px;
    height: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 60px;
    opacity: .5;
    filter: alpha(opacity=50);
}
}




